.requests-canvas {
  padding: 20px; }

.cell-canvas {
  display: block;
  margin-bottom: 10px;
  padding: 5px 5px 20px;
  border-bottom: 1px solid #e0e0e0;
  font-size: 14px; }
  .cell-canvas:hover {
    background-color: #b5dede; }

.cell .request-metrics {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start; }
  .cell .request-metrics > * {
    flex-basis: 25%; }

.cell .request-path {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

.cell .request-time {
  color: #777777;
  font-size: 12px; }

.cell .numeric {
  font-size: 14px; }

.cell .time-overall,
.cell .time-queries,
.cell .amount-queries {
  padding-right: 20px; }
